# Тип используемой СУБД (например: django.db.backends.sqlite3, django.db.backends.postgresql, и т.д.)
DB_ENGINE=

# Имя файла базы данных (для SQLite) или имя самой БД (для других СУБД)
DB_NAME=

# DJANGO секретный ключ
SECRET_KEY=your-secret-key-here

# API-ключ для сервиса API Ninjas (получить на https://api-ninjas.com)
API_NINJAS_KEY=your-api-ninjas-key-here
