# Имя файла базы данных SQLite
DB_NAME=

# DJANGO секретный ключ
SECRET_KEY=your-secret-key-here

# API-ключ для сервиса API Ninjas (получить на https://api-ninjas.com)
API_NINJAS_KEY=your-api-ninjas-key-here

DEBUG=